.calendar-widget ul, .calendar-widget li {
    list-style: none;
    text-align: left;
    margin: 0 0;
}


.calendar-widget .widget-body {
    padding: 10px 10px;
}


#calendar-widget {
    background: #2699D0;
    overflow-x: auto;
}

    #calendar-widget .widget-header {
        align-items: center;
        justify-content: space-between;
        background: #2180AC;
    }

    #calendar-widget .widget-headline {
        line-height: 1;
    }

#vacation-widget {
    background: #5CC8E5;
}

    #vacation-widget .widget-header {
        background: darken(#5CC8E5, 8%);
    }
