.calendar-widget ul, .calendar-widget li {
    list-style: none;
    text-align: left;
    margin: 0 0;
    padding: 0 0;
}


.calendar-widget .widget-body {
    padding: 10px 10px;
}


#calendar-widget {
    background: #2699D0;
    overflow-x: auto;
    color: white;
}

    #calendar-widget .widget-header {
        align-items: center;
        justify-content: space-between;
        background: #2180AC;
    }

    #calendar-widget .widget-headline {
        line-height: 1;
    }

#vacation-widget {
    background: #5CC8E5;
    color: white;
}

    #vacation-widget .widget-header {
        background: #32bede;
    }

    #vacation-widget li {
        position: relative;
        float: left;
        width: 150px;
        margin: 0 8px 16px 8px;
    }

    #vacation-widget .description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(10, 10, 10, 0.5);
    }

    #vacation-widget .date {
        white-space: nowrap;
    }


    #vacation-widget .periode, 
    #vacation-widget .subject, 
    #vacation-widget .location {
        text-overflow: ellipsis;
        width: 100%;
        display: block;
    }

    #vacation-widget .subject,
    #vacation-widget .location {
        font-size: 70%;
    }

    #vacation-widget img {
        max-width: 100%;
    }
